#recipes.bg-transparent.pt-5.d-flex.flex-column.login-hero.d-none
    .card.mb-4.bg-transparent
        .card-body
            - if(user)
                p.text-info.lead#fullname #{user.fullname}
                small.text-muted#email #{user.email}
                br
                small.text-muted#joinDate #{new Date(user.createdAt).toDateString()}
            - else 
                p.text-info.lead#fullname
                small.text-muted#email
                br
                small.text-muted#joinDate 
    .card.bg-transparent
        .card-header.d-flex.justify-content-between
            button.btn.btn-outline-primary(data-replace='add-recipes') Add new recipe
            a.btn.btn-primary(href='/users/logout') Log out
        .card-body.text-secondary(id='recipes-tab')
        .card-footer 
            nav.d-flex.justify-content-center.text-center(aria-label='Pagination links')
                ul.pagination(id='pagination')